<section class="experience__stack">
	<h4>Stack:</h4>
	<div class="stack__list">
		<slot />
	</div>
</section>

<style>
	.experience__stack {
		margin-top: 20px;
	}

	.stack__list {
		margin-top: 12px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		gap: 12px;
	}
</style>