---
const { title, img, url } = Astro.props as {
  title: string;
  img: string;
  url: string;
};
---

<a href={url} target="_blank" class="project__card">
	<img class="project__img" src={img} />
	<h3>{title}</h3>
	<slot />
</a>

<style>
	.project__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		background-color: var(--bg-2);
		border-radius: 8px;
		padding: 16px;
		text-decoration: none;
		color: var(--text);
	}

	.project__card:nth-child(4n + 1) {
		grid-column: span 2;
	}

	.project__card:nth-child(4n) {
		grid-column: span 2;
	}

	.project__img {
		width: 100%;
		max-height: 25vh;
		margin-bottom: 16px;
		flex-grow: 1;
		border-radius: 4px;
		object-fit: cover;
	}
</style>
