<section class="stack__card">
	<h4>Stack:</h4>
	<div class="stack__list">
		<slot />
	</div>
</section>

<style>
	.stack__card {
		margin-top: 20px;
	}

	.stack__list {
		margin-top: 8px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
		gap: 8px;
	}
</style>