---
import Layout from '../layouts/Layout.astro';
import Card from '../components/StatusCard.astro';
import StatusCard from '../components/StatusCard.astro';
import SocialMedia from '../components/SocialMedia.astro';
import Github from '../components/icons/social/Github.astro';
import Email from '../components/icons/social/Email.astro';
---

<Layout 
	title="Lucas Winand - Desarrollador fullstack de páginas web" 
	description='Hola, soy Lucas Winand. Descubrí la programación en cuarentena a los 13 y desde entonces llevo ya casi 5 años aprendiendo constantemente nuevas tecnologías web y desarrollando mis proyectos.'>
	<main class="w-full min-h-full">
		<div class="absolute left-1/2 -translate-x-1/2 w-1/2 h-4/5 flex flex-row items-center gap-8">
			<img class="w-1/4 aspect-square rounded-full" src="https://avatars.githubusercontent.com/u/67011864?v=4" alt="Profile"/>
			<div class="info">
				<div class="flex flex-row items-center gap-4">
					<h1 class="text-4xl">Hey! soy <b>Lucas</b></h1>
					<StatusCard style='bg-blue-200 border-blue-700 text-blue-700'>Disponible para trabajar</StatusCard>
				</div>
				<p class="pt-4"><span class="text-yellow-100/90">Programador fullstack</span> 
					<span class="text-blue-100">de aplicaciones y páginas web</span>, 
					<span class="text-green-100/80">aprendiendo constantemente</span> y 
					<span class="text-red-100/85">emocionado por el futuro de la tecnología</span>
				</p>
				<div id="social-medias" class="flex flex-row gap-3 pt-4">
					<SocialMedia href="https://github.com/Ellukitas-123">
						<Github slot="icon"></Github>
						<span slot="placeholder" class="pointer-events-none">Github</span>
					</SocialMedia>
					<SocialMedia href="mailto:lucas.winand@hotmail.es">
						<Email slot="icon"></Email>
						<span slot="placeholder" class="pointer-events-none">lucas.winand@hotmail.es</span>
					</SocialMedia>
				</div>
			</div>
		</div>
	</main>
</Layout>
